@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Lavishly+Yours&family=Mea+Culpa&family=Princess+Sofia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

body {
  background-color: #ecf0f1;
}

/* font styles */
.proxima-nova {
  font-family: "proxima-nova", sans-serif;
}

.princess-sofia {
  font-family: "Princess Sofia", cursive;
}

.kepler {
  font-family: "Kepler Std";
}

/* basic layout */
.container {
  width: 1140px;
}

.container-fluid {
  width: 1366px;
}

.navbar {
  height: 69px;
}

.section-one {
  position: relative;
  height: 690px;
}

.bg-image {
  background-image: url("assets/images/home-bg.png");
  background-size: cover;
  background-position: bottom;
}

.top-box {
  bottom: -80px;
  left: 198px;
  width: 970px;
  height: 160px;
}

.vacation-col-1 {
  padding-right: 20px;
}

.vacation-col-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.vacation-col-3 {
  padding-left: 20px;
}

.section-two {
  padding-top: 170px;
}

.section-two .vacation-item {
  max-height: 300px;
}

.flex-grow-1 {
  max-width: 190px;
  margin-right: 18px;
}

.section-two .column-heading {
  left: 30px;
  bottom: 30px;
  z-index: 1;
  width: 300px;
  height: 100px;
}

.section-two .heading-two {
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-three {
  padding-top: 88px;
}

.card-container {
  max-width: 530px;
  margin-bottom: 30px;
}

.card-body {
  padding: 20px 9px 0;
}

.card-body img {
  margin-right: 40px;
}

.card-image {
  width: 100px;
  height: 100px;
  background-color: #0f9d55;
}

.title-separator {
  width: 75px;
  height: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.section-four {
  padding-top: 57px;
  height: 515px;
}

.section-five {
  height: 570px;
}

.section-six {
  height: 300px;
}

.footer-container {
  padding-top: 40px;
}

.bg-image-footer {
  background-image: url("assets/images/footer-image.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.form-box-footer {
  bottom: 0;
  right: 180px;
  width: 390px;
  height: 400px;
  z-index: 1;
}

.nav-item {
  margin-top: 5px;
}

.nav-item img {
  margin-top: 5px;
  margin-left: 5px;
}

/* font styles  */
.nav-link {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px;
  color: #454851;
}

.brand {
  font-size: 24px;
  font-weight: 900;
  color: #171d1c;
  letter-spacing: 5px;
}

.main-title {
  font-size: 56px;
  letter-spacing: 4px;
}

.heading-one {
  font-size: 48px;
  color: #171d1c;
  letter-spacing: -0.7px;
}

.heading-two {
  font-size: 24px;
  color: #454851;
  letter-spacing: -0.2px;
}

.card-title {
  font-size: 30px;
  color: #171d1c;
  letter-spacing: -1px;
}

.card-text {
  font-size: 16px;
  line-height: 22px;
  color: #454851;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.section-six h4 {
  font-size: 15px;
  line-height: 24px;
  margin-top: 1px;
  margin-bottom: 3px;
}

.section-six li {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.card-body h5 {
  font-size: 25px;
  color: #171d1c;
}

.card-body p {
  font-size: 14px;
  line-height: 22px;
  color: #454851;
  font-weight: 300;
}

.holiday-card-btn {
  width: 120px;
  height: 37px;
  background-color: #f21131;
  border: 1px solid #f21131;
  margin-top: 30px;
}

.holiday-card-btn:hover {
  background-color: #f21131 !important;
}

/* form style  */

.search-container {
  padding: 10px 40px;
  font-size: 16px;
  color: #999999;
  font-weight: 300;
}

.dropdown-toggle::after {
  content: "⌄";
  font-size: 10px;
  color: gray;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white;
  text-align: center;
  padding-bottom: 6px;
}

.search-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.form-container {
  gap: 20px;
  font-size: 16px;
  color: #999999;
  font-weight: 300;
  margin: 32px 45px;
  height: 328px;
}

.custom-form-input {
  margin-bottom: -3px;
}

/* footer & form styles */
.form-title {
  font-size: 30px;
  color: #1a1a1a;
  letter-spacing: -0.8px;
}

.footer-form-input {
  font-size: 15px;
  color: #999999;
}

.footer-form-btn {
  width: 95px;
  height: 40px;
  background-color: #f21131;
  border: 1px solid #f21131;
  margin-top: 75px;
}

.holiday-col-size {
  max-height: 300px;
  overflow: hidden;
}

.footer-column-2 {
  margin-left: 36px;
}

.footer-column-3 {
  margin-left: 30px;
}

.footer-column-4 {
  margin-left: 66px;
}

.footer-column-5 {
  margin-left: 45px;
}

.border-secondary {
  margin-bottom: 18px !important;
}
